.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto; /*1я цифра верх низ вторая право лево,
    auto - возьмёт всё пустое пространство пополам поделит его и раскинет на 2 части*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title {
    background-color: #CED8C2;
    margin: 30px auto;
}