.skill {
    width: 250px;
    background-color: #D7EEFC;
    margin: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;


}

.icon {
    height: 60px;
    width: 60px;
    background-color: bisque;
}