.skillsBlock {
    min-height: 100vh;
    background-color: #C5FB88;

}
.skillsContainer {
   flex-direction: column;
    justify-content: flex-start;

}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}