.mainBlock {
    height: 100vh; /*занимает всю высоту экрана на каком бы его не открыли*/
    background-color: #ffaffb ;
}
.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto; /*1я цифра верх низ вторая право лево,
    auto - возьмёт всё пустое пространство пополам поделит его и раскинет на 2 части*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text {
    width: 400px;
    background-color: #D7EEFC;

}
.photo {
    width: 300px;
    height: 400px;
    background-color: #ccedff;
}