.mainBlock {
    height: 100vh; /*занимает всю высоту экрана на каком бы его не открыли*/
    background-color: #ffaffb ;
}

.text {
    width: 400px;
    background-color: #D7EEFC;

}
.photo {
    width: 300px;
    height: 400px;
    background-color: #ccedff;
}