.contactsBlock {
    min-height: 80vh;
    background-color: #f6f765;

}
.contactsContainer {
    flex-direction: column;

}
.contactForm {
    display: flex;
    flex-direction: column;
align-items: center;
    align-content: center;
    width: 350px ;
    max-width: 100%;


}
.projectButton {
    background-color: #CED8C2;
    padding: 10px 20px;
    margin: 10px;
    font-size: large;
}
.contactsInput {
    margin-bottom: 5px;
    width: 100%;
}