.projectsBlock {
    min-height: 100vh;
    background-color: #aa85fb;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
